.badge-darkOrange {
    color: #fff;
    background-color: hsl(339,100%,14%); !important;
    border-color: #450018;
    transition: all ease 0.5s;
}

.badge-darkOrange:hover {
	color: #fff !important;
	background-color: hsl(339,100%,7%);!important;
}

.badge-orange {
    color: #fff;
    background-color: hsl(15,99%,45%); !important;
    border-color: hsl(15,99%,45%);
    transition: all ease 0.5s;
}

.badge-orange:hover {
	color: #fff !important;
	background-color: hsl(15,99%,40%);!important;
}